// General CSS

*{
  all: unset;
  font-family: sans-serif;
  font-weight: bold;
}

.base_div{
  background-color: rgba($color: black, $alpha: 0.5);
  border:0.0628rem solid whitesmoke;
  border-radius: 0.314rem;
  }

.tooltip{
  background-color: black;
}

.left{margin-left: 8px;}
.center{background-color: blue;}
.right{margin-right: 8px;}



// Arch_logo CSS
.arch_linux_logo {
  font-size: 20px;
  font-weight: 600;
  color: #1793d1;
  padding: 0px 2px;
}


// Workspace CSS

.workspace-container button {
  background: none;
  border: none;
  min-width: 20px;
  min-height: 20px;
}
.ws-active label {
  color: #cba6f7;
  font-size: 12px;
}

.ws-inactive label {
  color: #cdd6f4;
  font-size: 14.5px;
  font-weight: 600;
}

.ws-inactive:hover label {
  color:#cba6f7 ;
  font-size: 14.5px;
  font-weight: 600;
}



// Battery CSS

.battery_container .Charging    { color: green; }
.battery_container .Discharging { color: whitesmoke;}
.battery_container .critical    { color: red; }


// Time CSS

//.time{color:whitesmoke;}
