*{
  all: unset;
  font-family: sans-serif;
  font-weight: bold;
}

.base_div{
  background-color: rgba($color: black, $alpha: 0.5);
  border:0.0628rem solid whitesmoke;
  border-radius: 0.314rem;
  }

.tooltip{
  background-color: black;
}

.left{margin-left: 8px;background-color: lightblue;}
.center{background-color: blue;}
.right{margin-right: 8px;}

.time{color:whitesmoke;}

.battery_container .Charging    { color: green; }
.battery_container .Discharging { color: whitesmoke;}
.battery_container .critical    { color: red; }  


